.venv/
__pycache__/
UITool/UI/*.py
icons_rc.py
assets/

.DS_Store
.ipynb_checkpoints/
FILE.INI
uploads/
__pycache__

opencv/basic/image/*.jpg

res/

.vscode/

yolov5/runs
yolov5/*.pt

output/*

runs/

openai_study/key.txt